<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>TOP</title>
</head>
<body>
	<form th:action="@{/}" method="get">
    	日付
        <input type="date" name="startDate" th:value="${startDate}">
        ～
        <input type="date" name="endDate" th:value="${endDate}">
        <button value="button">絞り込み</button>
    </form>
	<a href="/new"><button type="button">新規投稿</button> </a>
	<div th:each="content : ${contents}">
		<p>ID:<span th:text="${content.id}"></span></p>
		<p>内容:<span th:text="${content.content}"></span></p>
		<p>投稿日時:<span th:text="${#dates.format(content.created_date, 'yyyy/MM/dd HH:mm:ss')}"></span></p>
		<form th:action="@{/addComment/{id}(id=${content.id})}" method="post" th:object="${formModel}">
			<input type="text" name="text" size="20" maxlength="200">
			<input type="submit" value="返信">
		</form>
		<a th:href="@{/edit/{id}(id=${content.id})}">
		<button type="button">編集</button></a>
		<form th:action="@{/delete/{id}(id=${content.id})}" method="get">
			<input type="submit" value="削除">
		</form>
		<div th:each="comment : ${comments}">
			<div th:if="${content.id} == ${comment.report_id}">
				<p>返信ID:<span th:text="${comment.id}"></span></p>
				<p>返信内容:<span th:text="${comment.text}"></span></p>
				<p>返信投稿日時:<span th:text="${#dates.format(comment.created_date, 'yyyy/MM/dd HH:mm:ss')}"></span></p>
				<a th:href="@{/editComment/{id}(id=${comment.id})}">
				<button type="button">返信編集</button></a>
				<a th:href="@{/deleteComment/{id}(id=${comment.id})}">
				<button type="button">返信削除</button></a>
			</div>
		</div>
	</div>
</body>
</html>